body {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.navigation {
  width: 1020px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 100px auto;
  font-family: 'Pathway Gothic One', sans-serif;
  color: #fff;
  font-size: 170%;
  list-style-type: none;
}

.navigation li:nth-child(4) {
  position: relative;
  font-family: 'Dorsa', sans-serif;
  font-size: 250%;
  color: #263555;
}

.navigation li:nth-child(4)::before {
  z-index: -1;
  position: absolute;
  top: -27px;
  left: -13px;
  content: "";
  width: 120px;
  height: 120px;
  background: #fff;
  border-radius: 50%;
}

.navigation a,
.navigation a:active {
  color: #fff;
  text-decoration: none;
}

.about_item a,
.about_item a:active {
  color: #6b7488;
  text-decoration: none;
}

.about_item {
  position: relative;
}

.indent {
  display: none;
  position: absolute;
  top: 25px;
  left: -16px;
  padding: 10px;
  width: 65px;
  height: 85px;
}

.submenu {
  width: 65px;
  height: 85px;
  top: 35px;
  left: -6px;
  text-align: center;
  color: #6b7488;
  background: #fff;
  border-radius: 6px;
  font-size: 80%;
}

.submenu li {
  padding: 3px 0;
}

.submenu::before {
  position: absolute;
  content: "";
  top: 2px;
  left: 35px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #fff transparent;
}

.about_item:hover>.indent {
  display: block;
}

.about_item:hover {
  color: #263555;
}

.bd {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  margin: 50px auto 0;
  padding: 60px;
  background-color: #fff;
}

.bd h2 {
  padding-bottom: 10px;
  font-size: 190%;
  font-family: 'Pathway Gothic One', sans-serif;
  color: #263555;
}

.to-top {
  width: 30px;
  height: 30px;
  bottom: 25px;
  right: 35px;
  background: #38afe5;
  position: absolute;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
}

.to-top a,
.to-top a:visited {
  text-decoration: none;
  color: #fff;
}

footer {
  color: #fff;
  margin: 0 auto 0;
  width: 1020px;
  height: 235px;
}

.ftr {
  padding: 50px 140px;
  height: 35px;
  background: #30455b;
}

.inf1,
.inf2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Pathway Gothic One', sans-serif;
  color: #fff;
}

.inf1 li{
  padding-right: 43px;
}

.inf1 li:nth-child(2){
  padding-right: 23px;
}

.inf1 li:nth-child(3){
  padding-right: 53px;
}

.inf2 {
  padding-top: 10px;
  align-items: baseline;
}

.inf1 a,
.inf2 a {
  color: #fff;
  text-decoration: none;
}

.social {
  width: 1020px;
  height: 100px;
  text-align: center;
}

.social-media-list {
  padding: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.social-media-list li {
  padding: 0 5px;
}

.social-media-list a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url('../img/sprite.png');
    background-size: 198px 40px;
}

.social-media-list .facebook {
    background-position: -52px 0;
}

.social-media-list .google {
    background-position: -106px 0;
}

.social-media-list .instagram {
    background-position: -158px 0;
}

.social p {
  font-family: 'Lato', sans-serif;
  font-size: 70%;
  margin: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.box {
  margin: 0 5px 20px;
  width: 290px;
  height: 155px;
}

.waterfall {
  background-image: url('../img/waterfall.png');
}

.temple {
  background-image: url('../img/temple.png');
}

.hotel {
  background-image: url('../img/hotel.png');
}

.rome {
  background-image: url('../img/rome.png');
}

.island {
  background-image: url('../img/island.png');
}

.pole {
  background-image: url('../img/pole.png');
}

.castle {
  background-image: url('../img/castle.png');
}

.paris {
  background-image: url('../img/paris.png');
}

.mountain {
  background-image: url('../img/mountain.png');
}

.zoom {
  display: none;
  background: #000;
  width: 290px;
  height: 155px;
  opacity: 0.7;
  flex: none;
  text-align: center;
  line-height: 188px;
}

.box:hover>.zoom {
  display: block;
}

@media screen and (max-width:768px) and (min-width:481px) {
  .navigation {
    width: 384px;
    margin: 80px auto 55px;
    flex-wrap: wrap;
  }
  .navigation li {
    width: 70px;
    padding: 5px 20px;
  }
  .navigation li:nth-child(4) {
    order: -1;
    padding: 0;
    width: 100%;
    bottom: 35px;
    left: 140px;
  }
  nav {
    width: 768px;
  }
  .bd {
    width: 648px;
    margin:auto;
    padding: 60px;
  }
  .bd h2 {
    padding-left: 30px;
  }
  footer {
    width: 768px;
    margin: auto;
  }
  .gallery{
    width: 600px;
    margin: auto;
    padding: 25px;
  }
  .social {
    width: 768px;
  }
  .mountain {
    display: none;
  }
  .indent {
    top: 30px;
    left: 4px;
  }
  .submenu li {
    width: 65px;
    padding: 3px 1px;
  }
}

@media screen and (max-width:480px) {
  .navigation {
    width: 240px;
    margin: 80px auto 55px;
    flex-wrap: wrap;
  }
  .navigation li {
    width: 70px;
    padding: 5px;
  }
  .navigation li:nth-child(4) {
    order: -1;
    padding: 0;
    width: 100%;
    bottom: 35px;
    left: 70px;
  }
  nav {
    width: 480px;
  }
  .bd {
    width: 360px;
    margin:auto;
    padding: 60px;
  }
  .bd h2 {
    padding-left: 30px;
  }
  footer {
    width: 480px;
    margin: auto;
  }
  .gallery{
    width: 300px;
    margin: auto;
    padding: 30px;
  }
  .social {
    width: 480px;
  }
  .mountain {
    display: none;
  }
  .indent {
    top: 30px;
    left: -11px;
  }
  .submenu li {
    width: 65px;
    padding: 3px 1px;
  }
  .ftr {
    padding: 30px 70px 60px;
  }
  .inf1 li:first-child{
    padding-right: 3px;
  }
  .inf1 li:nth-child(2){
    padding-right: 0px;
  }
  .inf1 li:nth-child(3){
    padding-right: 0;
  }
  .inf1 li:last-child{
    padding-right: 40px;
  }
}
